.cart-container {
    
    display: flex;
    flex-direction: column;
    /* column-gap: 1rem; */
    min-height: 95vh;
}

.main-section {
    margin: 1rem;
    
    display: flex;
    /* grid-template-columns: 3fr 2fr; */

    justify-content: center;
    gap: 1rem; /*space between the cart list and the summary*/
    /* flex: 1; */
    flex-wrap: wrap;
    justify-items: auto;
}

.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: auto;
    /* width: 100%; */
}

.cart-footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
    text-decoration: none;
}


.summary-container {
   /* flex-shrink: 0; prevent from shrinking*/
    /* width: 500px; */
    width: clamp(400px, 30vw, 500px);
    
    
    
}