.cart-item-card {
    /* background-color: beige; */
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    
    align-items: stretch;
}

.cart-image {
    
    border-radius: 1rem;
    width: 150px;
    height: 150px;
    object-fit: contain;
    flex-shrink: 0;

    
}

.item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    
}

.cart-item-name {
    /* display: flex;
    justify-content: center;

    flex: 3; */
}

.update-cart-box {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    gap: 1rem;
}

.update-cart-box input {
    font-size: 1.2rem;
    /* padding: 0.5rem; */
    width: 100%;
    text-align: center;
    /* border-color: lightgray; */
    

    border: 1px solid #e5e7eb;
    /* border-radius: 0.5rem; */
    background-color: #ffffff;
    color: #737373;

    /* display: none; */
}

.update-cart-box input[type="number"]::-webkit-outer-spin-button,
.update-cart-box input[type="number"]::-webkit-inner-spin-button {
    /* hides button elements */
    -webkit-appearance: none;
    /* appearance: none; */
    margin: 0;
    /* display: none;  */
    } 

.cart-plus {
    border: 1px solid #e5e7eb;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.2rem;
    color: #e5e7eb;
    background-color: transparent;
}

.cart-minus {
    border: 1px solid #e5e7eb;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 1.2rem;
    color: #e5e7eb;
    background-color: transparent;
}

.quantity-spinner-container {
    display: flex;
}

.trashcan {
    margin: 0 1rem ;
    border: 1px solid transparent;
    /* color: #e5e7eb; */
    background-color: transparent;
    border-radius: 0.5rem;
    padding-top: 3px;
}

/* justify-content: center;
   
    margin: 0;
    
    aspect-ratio: 1;
    object-fit: contain;
    padding: 1rem; */