.cart-summary-box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    
    padding: 1rem;
                

}