.cart-summary-box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    
    padding: 1rem;
    
    /* align-items: center; */

}

.summary {
    font-size: larger;
    padding: 0;
    padding-bottom: 0.5rem;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.total {
    padding-top: 0.5rem;
    /* align-self:self-end; */
    text-align: right;
}