.cart-container {
    
    display: flex;
    flex-direction: column;
    /* column-gap: 1rem; */
    min-height: 95vh;
}

.main-section {
    margin: 1rem;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    flex: 1;
}

.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
}

.empty-cart-container {
    
}

.summary-container {
    
    /* flex-direction: row; */
    /* width: 100%; */
/*     
    max-height: ; */

    
}