.cart-item-card {
    /* background-color: beige; */
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    
    align-items: stretch;
}

.cart-image {
    
    border-radius: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}

.item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    
}

.cart-item-name {
    /* display: flex;
    justify-content: center;

    flex: 3; */
}

.cart-quant-box {
    display: flex;
    
    justify-content: center;

    /* max-width: 20px; */
    /* flex: 1; */
}