.item-card {
    /* background-color: beige; */
    /* padding: 0.5rem; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* width: clamp(100px, 20vw, 200px); */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);

    /* padding: 0; */
}

.product-name {
    display: flex;
    justify-content: center;
}

.card-image{
    justify-content: center;
    /* border-radius: 1rem; */
    margin: 0;
    /* width: clamp(100px, 20vw, 200px); */
    aspect-ratio: 1;
    object-fit: contain;
    padding: 1rem;
}

.description {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    justify-content: space-between;
}

.price {
    align-content: center;
}

.quant-box {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    gap: 0.5rem;
}

.quant-box input {
    font-size: 1.2rem;
    /* padding: 0.5rem; */
    width: 100%;
    text-align: center;
    border-color: lightgray;
}

.add-to-cart {
    margin: 0.5rem 2rem 1rem ;
}