.item-card {
    /* background-color: beige; */
    /* padding: 0.5rem; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* width: clamp(100px, 20vw, 200px); */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);

    /* padding: 0; */
}

.product-name {
    display: flex;
    justify-content: center;
}

.card-image{
    justify-content: center;
    /* border-radius: 1rem; */
    margin: 0;
    /* width: clamp(100px, 20vw, 200px); */
    aspect-ratio: 1;
    object-fit: contain;
    padding: 1rem;
}

.quant-box {
    display: flex;
    justify-content: center;
}