.item-card {
    /* background-color: beige; */
    /* padding: 0.5rem; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* width: clamp(100px, 20vw, 200px); */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);

    /* padding: 0; */
}

.product-name {
    display: flex;
    justify-content: center;
}

.card-image{
    justify-content: center;
    /* border-radius: 1rem; */
    margin: 0;
    /* width: clamp(100px, 20vw, 200px); */
    aspect-ratio: 1;
    object-fit: contain;
    padding: 1rem;
}

.description {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    justify-content: space-between;
}

.price {
    align-content: center;
}

.quantity-cart-button {
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
}

.quant-box {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    /* gap: 0.5rem; */
}

.minus {
    border: 1px solid #e5e7eb;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.2rem;
    color: #e5e7eb;
    background-color: transparent;
}

.plus {
    border: 1px solid #e5e7eb;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 1.2rem;
    color: #e5e7eb;
    background-color: transparent;
}

.quant-box input {
    font-size: 1.2rem;
    /* padding: 0.5rem; */
    width: 100%;
    text-align: center;
    /* border-color: lightgray; */
    

    border: 1px solid #e5e7eb;
    /* border-radius: 0.5rem; */
    background-color: #ffffff;


    /* display: none; */
}

.quant-box input[type="number"]::-webkit-outer-spin-button,
.quant-box input[type="number"]::-webkit-inner-spin-button {
    /* hides button elements */
    -webkit-appearance: none;
    /* appearance: none; */
    margin: 0;
    /* display: none;  */
    } 

.quant-box input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* Add this */
}



.add-to-cart {
    margin: 0 1rem ;
}