* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.links {
    text-decoration: none;
}


/* .nav Link {
    color: inherit;
} */