@font-face {
    font-family: 'Eiko';
    src: url('./assets/fonts/PPEiko-Medium.woff2') format('woff2'),
         url('./assets/fonts/PPEiko-Medium.otf') format('opentype');
    
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Eiko', serif;
    margin: 0;
}

.nav {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.nav ul {
    padding: 0;
    margin: 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}
/* 
.nav li {
    padding: 0.5rem;
    margin: 0.5rem;
    
} */

.links {
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
}

.links:hover {
    /* padding: 0.5rem;
    margin: 0.5rem; */
    border-radius: 0.8rem;
    background-color: #b6b6b6;
    color: white;
}


/* .nav Link {
    color: inherit;
} */

.cart-link {
    font-size: larger;
    color: rgb(67, 67, 67);
    position: relative;
    padding-right: 13px;
}

.cart-bubble {
    /* Positioning */
    position: absolute;
    top: -10px; /* Pull it up above the link */
    right: 0; /* Position it to the right of the link */
    /* Visuals */
    background-color: red;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    line-height: 1; /* Ensures text is centered vertically */


    width: 20px; 
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%; /* Makes it a perfect circle */
    padding: 0; /* Adjust padding for bubble size */
    
}