* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.nav ul {
    padding: 0;
    margin: 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}
/* 
.nav li {
    padding: 0.5rem;
    margin: 0.5rem;
    
} */

.links {
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
}

.links:hover {
    /* padding: 0.5rem;
    margin: 0.5rem; */
    border-radius: 0.8rem;
    background-color: #b6b6b6;
    color: white;
}


/* .nav Link {
    color: inherit;
} */